body{
    display: flex;
    flex-direction: column;
}

a{
    color: black;
    text-decoration-line: underline;
}

.intro{
    font-family:Arial, Helvetica, sans-serif;
    align-self: center;
}
